*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #0000;
    background: #c1c9c3;
    font-size: 16px;
}
header{
     position: fixed;
     width: 50vw;
     left: 50%;
     transform: translatex(80%);
     display: grid;
     align-items: center;
     grid-template-columns: 1fr 600px auto;
     gap: 50px;
     z-index: 2;


    }
     & img {
      width: 400px;
    }
   
      & nav {
     & ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
     section{
    background-image: radial-gradient(#000, #fff);
    height: 100vh;
    position: relative;

  }
